.MainContainerAbout {
    background-color: rgb(61, 61, 61);

}

.SecondContainerAbout {
    background: rgb(70, 69, 69);
    font-family: "Poppins";
}

.AboutHeading {
    font-family: "roboto";
    font-weight: 600;
}

.HeadingImage {
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

.AboutSectionData {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    margin: 1rem;
    gap: 1rem;
}

.AboutDesc {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 50vw;
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
    height: 20vh;
}

.AboutImageContainer {
    width: 50rem;
}

.AboutImageFirst {
    width: 30vw;
    animation: rise 1s linear forwards;
}

.AboutImageThird {
    width: 32vw;
    animation: rise 5s linear forwards;
}

@keyframes rise {
    from {
        transform: translateX(0vh);
    }

    to {
        transform: translateX(5vh);
    }
}

.AboutImageSecond {
    width: 30vw;
    margin-left: 10rem;
    animation: move 3s linear forwards;
}

@keyframes move {
    from {
        transform: translateX(5vh);
    }

    to {
        transform: translateX(0vh);
    }
}

.LastPara {
    background: rgb(70, 69, 69);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 1.3rem;
}

.LastParaData {
    width: 60vw;
}