.MainHomeContainer {
    background-color: rgb(61, 61, 61);
}

.homepage {
    /* height: auto; */
    background: rgb(70, 69, 69);
}

.homePageNewsTitle{
    font-family: "roboto";
    font-weight: 600;
    font-size: 4rem;
    margin: 1rem;
    color: white;
}

.homePageNews{
    background-color: rgb(61, 61, 61);
    margin: 0rem 18rem 0rem 18rem;
    border-radius: 8px;
}