.MainHelpContainer {
    background: rgb(70, 69, 69);
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    font-weight: 500;
    color: white;
}

.SecondHelpContainer {
    background: rgb(94, 93, 93);
    height: 55vh;
    width: 70vw;
}

.HelpInnerContainer{
    background: #4d4d4d;
    border: 1px solid #434242;
    border-radius: 4px;
    box-shadow: 4px 4px 10px rgb(48, 48, 48);
    height: 20rem;
    width: 24rem;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
}

.HelpInnerContainer:hover{
    box-shadow: 6px 6px 20px rgb(48, 48, 48);
    filter: grayscale(0%);
}